
.center {
    text-align: center;
    margin-top: 200px;
}

.mainform {
    margin-top: 10px;
}

.footer {
    position: fixed;
    bottom: 10px;
}

.navbar {
    position: fixed;
    top: 0px;
}

body {
    margin: 0;
    padding: 0;
}

li  {
    display: inline;
    list-style-type: none;
    text-underline-position: 0;
    
}

img {   
    display: block;
    margin: 0 auto;
    min-width: 450px;
    width: 30%;
}

.submit{
    background-color: #f2f2f2;
    border-radius: 5px;
    border: 0;
    margin-top: 30px;
    font-size: 14px;
    width: 125px;
    height: 40px;
    
}

.submit:hover {
    border: 1px rgb(173, 173, 173) solid;
    background-color: #f5f5f5;
}

.searchbar{
    margin-left: auto;
    margin-right: auto;
    border: 2px #f2f2f2 solid;
    border-radius: 100px;
    width: 45em;
    height: 3em;
}

.searchbar:hover {
    border: 2px rgb(220, 220, 220) solid;
}

#searchbarinput {
    font-family: Arial;
    font-size: 16px;
    margin-top: 2.5px;
    border: 0;
    width: 680px;
    height: 2.5em;
}

